@charset "UTF-8";
/*Portrait*/   
body{
    background-color: aqua;
    background: url(../img/cev-portrait.jpg);
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center bottom;
}