@charset "UTF-8";
*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
@media screen and (min-width: 768px){
 #bg{
    display: none;
 }  
 menu{
    display: block;
 } 
 menu > ul > li {
    display: inline-block;
 }
 main{
    width: 7678px; }
}