@charset "UTF-8";
    /*Gerais*/
    @media all {
        *{
            margin: 0px;
            padding: 0px;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }
        html, body{
            width: 100vw;
            height: 100vh;
            background-color: #233eff;
        
        }
        h1{
            color: white;
            text-shadow: 3px 3px 0px #132397;
            padding: 10px;
        }
    }
    /*Landscape*/
    @media screen and (orientation: landscape){
        body{
    background-color: rgb(66, 58, 58);
    background: url(../img/cev-landscape.jpg);
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: cover;
}
    }
    /*Portrait*/
    @media screen and (orientation: portrait){
        body{
    background-color: aqua;
    background: url(../img/cev-portrait.jpg);
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center bottom;
}
}